body {
  overflow-x: hidden;
}

a.navbar-brand {
  font-family: Pricedown Bl;
  font-size: 26px;
  letter-spacing: 0.4px;
  color: gold !important;
  white-space: normal;
  text-align: center;
  word-break: break-all;
  padding-left: 9px;
  padding-right: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: 
    color 0.3s ease,
    transform 0.3s ease,
    text-shadow 0.3s ease,
    border-top 0.3s ease,
    border-left 0.3s ease;
}

a.navbar-brand:hover {
  background-color: transparent;
  color: gold !important;
  transform: scale(1.03);
  text-shadow: 2px 0px black;
  border-top: 1px solid gold;
  border-left: 1px solid gold;
}

.nav-link:hover {
  background-color: rgba(157, 157, 157, 0.3);
  color: chartreuse !important;
}

#logo-brand {
  width: 110px;
  cursor: pointer;
  float: right;
  display: block;
  transform-origin: center;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
   position: relative;
   left: calc((100vw - 100%) / 2);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#language-collapsible {
  cursor: pointer;
  padding-bottom: 7px;
}

.translation-icon {
  fill: white !important;
}

#language-collapsible:hover .translation-icon {
  fill: gold !important;
}


.language-pick-pl:hover {
  color: chartreuse;
}

.language-active {
  color: gold !important;
}

.languages-text {
  font-size: 11px;
  line-height: 1;
  padding-left: 6px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  transform: translateY(-3px);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url('../images/x.svg');
  scale: calc(1.4)
}

main {
  margin-top: 75px;
  margin-bottom: 90px;
}

html {
  scrollbar-color: gold transparent;
}

.scorers-row td {
  text-align: center;
}

th:nth-child(1) { width: 21.5%; }
th:nth-child(2) { width: 63.5%; }
th:nth-child(3) { width: 15%; }

#pdfLink:hover {
  background-color: transparent;
}

.nav-link.active-page {
    color: gold !important;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

.search-icon {
    color: white;
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s ease;
}

.search-input {
    width: 0;
    opacity: 0;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #1C1F23;
    color: white;
    caret-color: #757575;
    position: absolute;
    right: 0;
    transition: 
        width 0.4s ease,
        opacity 0.4s ease;
}

.search-input::placeholder {
  color: #757575;
}

.search-box:hover .search-input,
.search-input:focus,
.search-box.expanded .search-input {
    width: 240px;
    opacity: 1;
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
    padding-left: 7px !important;
    padding-right: 7px !important;
  }

  .search-box {
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 7px;
  }

  .search-input {
      width: calc(100vw - 42px) !important;
      opacity: 1;
      right: auto;
      transition: none;
      padding-left: 30px;
  }

  .search-icon {
    padding-left: 7px;
  }
}

.menu-link {
    background-color: #212529;
    color: white;
    border-left: 3px solid transparent;
    display: block;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.menu-link:hover,
.menu-link:focus {
    color: gold;
    border-left: 3px solid gold;
    background-color: #1c1f23;
    color: inherit;
    transform: scale(1.01);
}

.menu-desc {
    font-weight: normal;
    border: none !important;
    transition: all 0.3s ease;
}

.menu-link:hover .menu-label {
    color: chartreuse !important;
}

.menu-link:hover .menu-desc {
    background-color: #1c1f23 !important;
    color: chartreuse !important;
}

.menu-label {
    color: white;
    font-weight: 600;
    padding: 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.menu-desc {
  font-weight: normal;
  border: none !important;
}

.round-header {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.round:hover {
    background-color: rgba(255, 215, 0, 0.05);
    transition: background-color 0.3s ease;
}

.round-header:hover {
    background-color: #1c1f23 !important;
    color: chartreuse;
    cursor: pointer;
}

.round-body table {
  margin-bottom: 0;
}

.round-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-in-out;
}

@media (max-width: 576px) {
    #resultsChart {
        height: 420px !important;
        width: 100% !important;
    }
}

/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(32, 32, 32);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.svgIcon {
  z-index: 2;
}

.button::before {
  width: 35px;
  height: 22px;
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.575), rgba(0, 0, 0, 0.103));
  position: absolute;
  content: "";
  top: 3.6px;
  border-radius: 50%;
  z-index: 1;
}

.tooltip {
  position: absolute;
  top: -135px;
  right: 0px;
  opacity: 0;
  background-color: #424549;
  color: white;
  padding: 5px 10px;
  width: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

@media (max-width: 576px) {
  .tooltip {
    top: -110px;
    right: -7px;
  }
}

.button:hover .tooltip {
  opacity: 1;
  transition-duration: .5s;
}

.button:hover {
  background-position: right;
  transition-duration: 1s;
}
