a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: 600;
    padding-left: 9px;
    padding-right: 7px;
  }
  
  a.navbar-brand:hover {
    background-color: transparent;
    color: gold !important;
    transform: scale(1.03) perspective(1px);
    text-shadow: 2px 0px rgb(17, 17, 17);
    border-top: 1px solid gold;
    border-left: 1px solid gold;
  }
  
  a.navbar-brand {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
  }
  
  a:hover {
    background-color: rgba(157, 157, 157, 0.3);
    color: chartreuse !important;
  }
  
  .login-icon {
    fill: none !important;
    stroke: white !important;
  }
  
  .logout-icon {
    fill: white;
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  #language-collapsible {
    cursor: pointer;
    padding-bottom: 7px;
  }

  .translation-icon {
    fill: white !important;
  }
  
  #language-collapsible:hover .translation-icon {
    fill: gold !important;
  }
  
  /* .translation-icon:hover {
    color: gold;
  } */
  
  .language-pick-en {
    color: gold !important;
    display: inline;
  }
  
  .language-pick-2-en {
    display: inline;
  }
  
  .language-pick-2-en:hover {
    color: chartreuse;
  }
  
  .language-pick-pl {
    color: gold !important;
    display: inline;
  }
  
  .language-pick-pl:hover {
    color: chartreuse;
  }
  
  .language-pick-2-pl {
    color: gold !important;
    display: inline;
  }
  
  .languages-text {
    font-size: 11px;
    line-height: 1;
    padding-left: 6px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    transform: translateY(-3px);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url('../images/x.svg');
    scale: calc(1.4)
  }

  main {
    margin-top: 75px;
    margin-bottom: 90px;
  }

  html {
    scrollbar-color: gold transparent;
  }

  .scorers-row td {
    text-align: center;
  }

  th:nth-child(1) { width: 21.5%; }
  th:nth-child(2) { width: 63.5%; }
  th:nth-child(3) { width: 15%; }

  #pdfLink:hover {
    background-color: transparent;
  }
